@model ExpenseTracker.WebClient.Models.ExpenseGroupsViewModel

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Your Groups of Expenses</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ExpenseGroups) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @((Model.ExpenseGroupStatusses as List<ExpenseTracker.DTO.ExpenseGroupStatus>)
                            .First(egs => egs.Id == item.ExpenseGroupStatusId).Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
}

    </table>
 